﻿<template id="mytemplate">
    <style>
        p {
            color: aqua;
        }
    </style>
    <p><span id="greeting"></span> world!`</p>
</template>

<script>
    // reference to this component
    const owner = (document._currentScript || document.currentScript.ownerDocument);
    // load template
    const template = owner.querySelector("#mytemplate");

    class GreetingWorld extends HTMLElement {
        // called when attached to the DOM
        connectedCallback() {
            this.render();
        }

        render() {
            // deep clone template
            const clone = document.importNode(template.content, true);

            // populate data
            const formula = this.getAttribute("formula");
            clone.querySelector("#greeting").innerHTML = formula;

            // add to DOM
            const shadowRoot = this.attachShadow({ mode: 'open' });
            shadowRoot.appendChild(clone);
        }
    }
    window.customElements.define("greeting-world", GreetingWorld);
</script>
